### Project ###
config.js

### Node ###
# Logs
logs
*.log

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

