### Project ###
src/config.ts
src/routes.ts
dist

### Node ###
# Logs
logs
*.log
logfile

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

### DATA ###
vgdb.sql

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

