export default {
  // database config
  database: {
    username: 'viking',
    password: 'secret',
    host: 'localhost',
    port: 5432,
    name: 'test_db',
  },

  // credentials for nodemailer
  nodemailer: {
    service: 'gmail',
    auth: {
      user: 'viking.garage.app@gmail.com',
      pass: 'secret',
    },
  },

  // Json Web Token config
  jwt: {
    secret: 'secret-jwt-key',
    session: false,
  },

  // host and port for server
  host: process.env.SERVER_NAME ? 'https://viking-garage-api-' + process.env.SERVER_NAME + '.herokuapp.com' : 'localhost',
  port: process.env.PORT || 4000,

  // domains allowed with CORS
  origin: /(localhost|viking-garage-frontend)/,
};
